<div class="test-container">
  <h2>School home</h2>

  <ul>
    <li><%= link_to 'I am teacher', admin_root_path %></li>
    <li><%= link_to 'I am student', students_sections_path %></li>
  </ul>
</div>